.header {
    display: flex;
    background-color: #0f1c26;
    width: inherit;
    height: 7rem;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    font-family: 'Manrope', sans-serif;
}

.header p {
    color: #FDFDFD;
    font-size: 1rem;
    font-weight: 500;
}

.header--logo {
    padding: 1rem 5rem;
}

.header--lupa p {
    color: #FDFDFD;
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.8;
}

.header--lupa {
    background-color: inherit;
    border-style: none;
    outline-style: none;
    
}

.header--lupa button:hover {
    outline-width: 2px;
    outline-color: blue;
}

.header--search {
    display: flex;
    width: 450px;
    justify-content: space-around;
}

.header--fav {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    align-items: center;
}

.header--promo {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    align-items: center;
}

.header--profile {
    display: flex;
    width: 10rem;
}

.header--profile img {
    width: 3.5rem;
    height: 3.5rem;
}