

.movieCard{
    display: grid;
    width: 168px;
    height: 300px;
    padding: 12px 8px 6px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 40%);
    transform: scale(0.8);
    transition: 0.2s;
    grid-template-areas: 
    "fav ."
    ". ."
    "title stars"
    "botao botao";
    grid-template-rows: 1rem auto 1rem 1rem;
}

.movieCard:hover {
    transform: scale(1);
}

.movieName {
    font-family: 'Manrope', sans-serif;
    grid-area: title;
    color: #FDFDFD;
    font-weight: 700;
    font-size: 16px;
}

.favStar {
    grid-area: fav
}

.movieCard button {
    grid-area: botao;
    padding: 1rem;
}