@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}



body {
    display: flex;
    height: 100vh;
    background-color: #1d2226;
}

.page {
    display: grid;
    background-color: #1d2226;
    flex-direction: row;
    grid-template-areas: "header header header"
    ". cupom ."
    ". movies .";
    grid-template-columns: 3rem 58rem auto;
    grid-template-rows: min-content min-content auto;

}

.movie-list {
    grid-area: movies;
    display: grid;
    grid-template-areas: "list-title list-title list-title list-title list-title"
    "movie1 movie1 movie1 movie1 movie1";
    justify-items:first baseline;
    max-width: 937px;
    flex-wrap: wrap;
    max-height: min-content;
}

.movie-list h2 {
    grid-area: list-title;
}
